includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max # Nível máximo de análise (0-8 ou max)
    paths:
        - app
        - routes
        - database
    ignoreErrors:
        # Ignore erros em pacotes externos, se necessário